{% extends('::base.html.twig') %}
{% block title %}FFJV - Intranet{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/mdb.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/lib/noty/css/animate.css') }}">
    {% stylesheets filter="scssphp" output="css/app.css"
    "public/scss/core/core.scss"
    "public/scss/Fo/main.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {% block customCSS %}{% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/lib/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('public/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    {% block customJS %}{% endblock %}
    {% include '@FfjvBo/Message/message.html.twig' %}
{% endblock %}
{% block body %}
    {% block navbar %}
        {{ include('@FfjvFo/Navbar/navbar.html.twig') }}
    {% endblock %}

    {% block header %}

    {% endblock %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% block footer %}

    {% endblock %}
    {% block adminTools %}
        {% if adminTools is defined %}
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a class="btn-tools btn btn-warning" data-url="" href="{{ adminTools }}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endblock %}