{% extends('@FfjvFo/layout.html.twig') %}
    {% block title %}confirmation{% endblock %}
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/Home/index.css') }}">
        <link media="screen" rel="stylesheet" type="text/css" href="{{ asset('public/css/Home/register.css') }}">
    {% endblock %}
    {% block content %}
        <div class="main-wrapper">
            <div class="col-md-12">
                <h4 class="text-center">{{ block('title') }}</h4>
                <p>vous ête maintenant enregistrer ! Veuillez confirmer votre adresse email . <br />Si vous n'avez pas reçus d'email {{ form(form) }}</p>
            </div>
        </div>
    {% endblock %}
{% block customJS %}
    <script>
        setTimeout(function() {
            window.location.replace("{{ path('logout') }}");
        }, 10000);
    </script>
{% endblock %}