{% set tagOrigin = {'0': 'FFJV', '1': 'WEEZ'} %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Events Board</h3><a class="btn btn-info btn-xs pull-right" href="#">Create Evenement</a>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Participant</th>
                            <th>Debut</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ tagOrigin[event.origin] }}</td>
                                    <td>{{ event.title }}</td>
                                    <td>{{ event.participants }}</td>
                                    <td>{{ event.start_date|date('Y-m-d H:i') }}</td>
                                    <td>
                                        {% if event.origin == 0 %}
                                            <a class="btn btn-success btn-xs" href="{{ path('ffjv_bo_evenements_edit', {'id': event.evenement_id}) }}">Editer</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
