<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Events Board</h3><a class="btn btn-info btn-xs pull-right" href="#">Create Evenement</a>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Participant</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.origin }}</td>
                                    <td>{{ event.title }}</td>
                                    <td>{{ event.participants }}</td>
                                    <td>{{ event.startDate|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ event.endDate|date('Y-m-d H:i:s') }}</td>
                                    <td><a class="btn btn-primary btn-xs" href="#">Action</a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
