{% extends('@FfjvFo/layoutManager.html.twig') %}

    {% block title %}FFJV-Profile {{ user.username }}{% endblock %}
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/Fo/Profile/show.css') }}">
    {% endblock %}
    {% block content %}
        <section class="content-header">
            <h2>{{ user.username }}</h2>
            <ol class="breadcrumb">
                <li><a href="{{ path('ffjv_fo_home_index') }}"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><i class="fa fa-user"></i> Profile {{ user.username }}</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle"
                                 src="{{ asset('public/img/logo/logo_ffjv.png') }}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{ user.firstname }} {{ user.Lastname }}</h3>
                            {% if user.licence %}<p class="text-muted text-center">
                                Licencier {{ user.licence }}</p>{% endif %}
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Clubs</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Teams</b>
                                </li>
                            </ul>
                            <a href="{{ path('fo_profile_edit', {'userUsername': user.username}) }}"
                               class="btn btn-success btn-block"><b><i class="fa fa-cog"></i> Modifier</b></a>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">About Me</h3>
                        </div>
                        <div class="box-body">
                            <strong><i class="fa fa-envelope margin-r-5"></i> Contact</strong>
                            <p class="text-muted">{{ user.email }}</p>
                            <hr>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Adresse</strong>
                            <p class="text-muted">
                                {{ user.address1 }}<br/>
                                {{ user.address2 }}<br/>
                                {{ user.zipcode }}, {{ user.city }}</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#clubs" data-toggle="tab" aria-expanded="true">Clubs</a></li>
                            <li><a href="#teams" data-toggle="tab">Teams</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="clubs">
                                <div class="box box-primary collapsed-box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Author</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table id="clubs_board" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Tag</th>
                                                <th>Licence</th>
                                                <th>zipcode</th>
                                                <th>Country</th>
                                                <th>Creationdate</th>
                                                <th>Lastupdate</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for club in app.user.clubs %}
                                                <tr>
                                                    <td><a href="{{ path('fo_clubs_show', {'clubId': club.id} ) }}">{{ club.title }}</a></td>
                                                    <td>{{ club.tag }}</td>
                                                    <td>{{ club.licence }}</td>
                                                    <td>{{ club.zipCode }}</td>
                                                    <td>{{ club.country }}</td>
                                                    <td>{% if club.creationDate %}{{ club.creationDate|date('Y-m-d H:i') }}{% endif %}</td>
                                                    <td>{% if club.lastUpdate %}{{ club.lastUpdate|date('Y-m-d H:i') }}{% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Member</h3>
                                        <div class="box-tools pull-right">
                                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table id="clubs_board" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Licence</th>
                                                    <th>Role</th>
                                                    <th>joinDate</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for member in clubsMember %}
                                                <tr>
                                                    <td><a href="{{ path('fo_clubs_show', {'clubId': member.club.id} ) }}">{{ member.club.title }}</a></td>
                                                    <td>{{ member.club.licence.licence }}</td>
                                                    <td>
                                                        <ul class="list-group">
                                                            {% for role in member.roles %}
                                                                <li class="list-group-item">{{ role|rolesMember }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                    <td>{{ member.creationDate|date('Y-m-d H:i') }}</td>
                                                    <td><a href="#" class="btn btn-success btn-xs" disabled="disabled">editer</a> </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="teams">
                                <p>Aucune teams pour le moment</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}