{% extends('@FfjvFo/layoutManager.html.twig') %}
    {% block title %}FFJV-Team {{ team.title }}{% endblock %}
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/Fo/Profile/show.css') }}">
    {% endblock %}
    {% block content %}
        <section class="content-header">
            <h1>
                {{ team.title }}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('ffjv_fo_home_index') }}"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="{{ path('fo_clubs_show', {'clubId': team.club.id}) }}"><i class="fa fa-institution"></i> {{ team.club }}</a></li>
                <li class="active"><i class="fa fa-users"></i> {{ team.title }}</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="{{ asset('public/img/logo/logo_ffjv.png') }}" alt="User profile picture">

                            <h3 class="profile-username text-center">{{ team.title }} - {{ team.tag }}</h3>
                            {% if team.licence %}<p class="text-muted text-center">Licence : {{ team.licence }}</p>{% endif %}
                            <p class="text-muted text-center"><a href="{{ path('fo_clubs_show', {'clubId': team.club.id}) }}"><i class="fa fa-institution"></i> Club {{ team.club }}</a></p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Author</b><a class="pull-right">{{ team.user.firstname }} {{ team.user.lastname }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Membres</b><a class="pull-right">0</a>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#contactClub"><b>Contact - club</b></a>
                            {# ***** MODAL CONTACT ***** #}
                            <div class="modal fade" id="contactClub" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Contacter le Club {{ team.club }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ form_start(contact_form) }}
                                            <div class="form-group">
                                                {{ form_label(contact_form.subject) }}
                                                {{ form_widget(contact_form.subject, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(contact_form.content) }}
                                                {{ form_widget(contact_form.content, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                {{ form_widget(contact_form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                                            </div>
                                            {{ form_end(contact_form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">About {{ team.title }}</h3>
                        </div>
                        <div class="box-body">
                            <strong><i class="fa fa-envelope margin-r-5"></i> Contact</strong>

                            <p class="text-muted"></p>
                            <hr>
                            <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                            <p class="text-muted">
                            <hr>
                            <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                            <p class="text-muted">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#members" data-toggle="tab" aria-expanded="true">Membres</a></li>
                            {% if is_granted('EDIT', team.club) %}
                                <li><a href="#settings" data-toggle="tab">Settings</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="members">
                                <div class="box">
                                    {% if members %}
                                        <div class="box-body">
                                            {% if is_granted('VIEW', team.club) %}
                                                <a class="btn btn-info btn-xs pull-right" href="{{ path('fo_user_has_teams_select_member', {'teamId': team.id}) }}">ajouter un membre</a>
                                            {% endif %}
                                            <table id="team_members_board" class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Username</th>
                                                    <th>Licence</th>
                                                    <th>Roles</th>
                                                    <th>Creationdate</th>
                                                    <th>Lastupdate</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for member in members %}
                                                    <tr>
                                                        <td>
                                                            {% if member.user.status %}
                                                                <i style="color: green;" class="fa fa-check fa-lg"></i>
                                                            {% else %}
                                                                <i style="color: red;" class="fa fa-close fa-lg"></i>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ member.user }}</td>
                                                        <td>{{ member.user.licence }}</td>
                                                        <td>
                                                            <ul class="list-group">
                                                                {% for role in member.roles %}
                                                                    <li class="list-group-item">{{ role }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td>{{ member.user.registerDate|date('Y-m-d H:i:s') }}</td>
                                                        <td>{{ member.user.lastUpdate|date('Y-m-d H:i:s') }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a href="{{ path('fo_user_has_teams_edit_member', {"memberId": member.id, "teamId": team.id}) }}" class="btn btn-success btn-xs">editer</a><a href="{{ path('fo_user_has_teams_remove_member', {"memberId": member.id, "teamId": team.id}) }}" class="btn btn-danger btn-xs">remove</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div class="box-body">
                                            <p class="pull-left">Aucun membres</p>
                                            {% if is_granted('EDIT', team.club) %}
                                                <a class="btn btn-info btn-xs pull-right" href="{{ path('fo_user_has_teams_select_member', {'teamId': team.id}) }}">ajouter un membre</a>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if is_granted('EDIT', team.club) %}
                            <div class="tab-pane" id="settings">
                                {{ form_start(editForm, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    {{ form_label(editForm.title, null, { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(editForm.title) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(editForm.tag, null, { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                                    <div class="col-sm-10">
                                        {{ form_widget(editForm.tag) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-sm-offset-2">
                                        <a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteTeam">supprimer</a>
                                        {{ form_end(editForm) }}
                                        <div class="modal fade" id="deleteTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">supprimer l'équipe {{ team }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        Attention vous êtes sur le point de supprimer l'équipe {{ team }} ?!
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                                        {{ form(deleteForm) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
{% block customJS %}
    <script>
        $(function () {
            $('#teams_members_board').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}