<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ asset('public/img/logo/logo_ffjv.png') }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Intranet</li>
        <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('ffjv_bo_home_index') }}"><i class="fa fa-cogs"></i> <span>Administration</span></a></li>
        <li class="{% if userMenu is defined %}active{% endif %}"><a href="{{ path('user') }}"><i class="fa fa-user text-blue"></i> <span>Utilisateurs</span></a></li>
        <li class="{% if liguesMenu is defined %}active{% endif %}"><a href="{{ path('ligues') }}"><i class="fa fa-industry text-blue"></i> <span>Ligues</span></a></li>
        <li class="{% if clubsMenu is defined %}active{% endif %}"><a href="{{ path('clubs') }}"><i class="fa fa-institution "></i> <span>Clubs</span></a></li>
        <li class="{% if eventsMenu is defined %}active{% endif %}"><a href="{{ path('evenements_index') }}"><i class="fa fa-trophy "></i> <span>Evenements</span></a></li>
        <li class="{% if teamsMenu is defined %}active{% endif %}"><a href="{{ path('teams') }}"><i class="fa fa-users text-red"></i> <span>Teams</span></a></li>
        <li class="header">Media</li>
        <li class="{% if messagesMenu is defined %}active{% endif %}"><a href="{{ path('bo_messages') }}"><i class="fa fa-envelope "></i> <span>Messages</span></a></li>

        <li class="header">SiteWeb</li>
        <li><a href="{{ path('ffjv_fo_home_index') }}"><i class="fa fa-home "></i> <span>Home</span></a></li>
        <li class="header">web-component</li>
        <li><a href="{{ path('ffjv_webcomponent_index') }}"><i class="fa fa-cogs "></i> <span>index</span></a></li>
    </ul>
</section>