{% extends('::base.html.twig') %}
{% block title %}FFJV - Intranet{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/lib/noty/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mdb.min.css') }}">
    {#{% stylesheets filter="scssphp" output="css/mdb.min.css"#}
    {#"public/scss/mdb/mdb.scss"#}
    {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>#}
    {#{% endstylesheets %}#}
    {% stylesheets filter="scssphp" output="css/webcomponent_layout.css"
    "public/scss/core/core.scss"
    "public/scss/wc/reset.scss"
    "public/scss/wc/main.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <script src="{{ asset('public/lib/webcomponentsjs/webcomponents-lite.min.js') }}"></script>
    {% block webComponent %}
    {% endblock %}
    {% block customCSS %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('public/lib/jquery/dist/jquery.js') }}"></script>
    <script src="{{ asset('public/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    {% javascripts filter="?jsqueeze" output="js/app.js"
    'public/js/webcomponent/layout.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block customJS %}{% endblock %}
{% endblock %}
{% block body %}
    <app-header-layout>
        {% block navbar %}
            {{ include('WebComponentBundle:navbar:_navbar.html.twig') }}
        {% endblock %}
        {% block header %}

        {% endblock %}
        {% block aside %}
        {% endblock %}
        {% block breadcrumb %}

        {% endblock %}
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        {% block footer %}

        {% endblock %}
    </app-header-layout>
    {% block modal %}
        <paper-dialog id="dialog_logout" modal>
            <div class="top-tools"><a  class="pull-right" dialog-dismiss><iron-icon icon="icons:close"></iron-icon></a></div>
            <div class="dialog_header"><h2>Déconnexion</h2></div>
            <div class="dialog_content">
                <p>Vous êtes sur le point de vous déconnecter</p>
            </div>
            <div class="dialog_footer">
                <a class="pull-left" dialog-dismiss>Annuler</a>
                <a class="pull-right" href="{{ path('logout') }}">confirmer</a>
                <div class="clearfix"></div>
            </div>
        </paper-dialog>
        {% block customModal %}
        {% endblock %}
    {% endblock %}
{% endblock %}