{% extends('@FfjvFo/layout.html.twig') %}
{% trans_default_domain 'fo_security_confirmation' %}
    {% block title %}{{ "fo.security.confirmation.title"|trans }}{% endblock %}
    {% block customCSS %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/Home/index.css') }}">
        <link media="screen" rel="stylesheet" type="text/css" href="{{ asset('public/css/Home/register.css') }}">
    {% endblock %}
    {% block content %}
        <div class="main-wrapper">
            <div class="col-md-12">
                <h4 class="text-center">{{ block('title') }}</h4>
                <p>{{ "fo.security.confirmation.confirme_email"|trans }}<br />{{ "fo.security.confirmation.resend_email"|trans }} {{ form(form) }}</p>
            </div>
        </div>
    {% endblock %}
{% block customJS %}
    <script>
        setTimeout(function() {
            window.location.replace("{{ path('logout') }}");
        }, 10000);
    </script>
{% endblock %}