{% extends('@FfjvFo/layout.html.twig') %}

{% block title %}Nouveau mot de passe{% endblock %}

    {% block content %}
        <div class="main-wrapper">
            <h4 class="text-center">{{ block('title') }}</h4>
            <div class="well col-sm-10 col-sm-offset-2 col-md-8 col-md-offset-2 z-depth-1">
                <div class="col-xs-12">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        {{ form_label(form.email, 'Email*', { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.birthday, 'Date de Naissance*', { 'label_attr': {'class': 'control-label col-sm-2'} }) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.birthday) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first, 'Password*', { 'label_attr':  {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'password'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second, 'Repeat-Password*', { 'label_attr':  {'class': 'col-sm-2 control-label'}}) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'repeat-password'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form_row(form.submit, {'attr': {'class': 'btn btn-success col-sm-3 col-xs-12'}}) }}
                            <p class="pull-right">*champ obligatoire</p>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endblock %}