{% extends('@FfjvFo/layout.html.twig') %}
 {% block customCSS %}
     <link rel="stylesheet" type="text/css" href="{{ asset('public/css/Fo/Home/index.css') }}">
     <link media="screen" rel="stylesheet" type="text/css" href="{{ asset('public/lib/jqueryMap/jqvmap.css') }}">
 {% endblock %}
{% block customJS %}
    <script src="{{ asset('public/lib/jqueryMap/jquery.vmap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/lib/jqueryMap/jquery.vmap.france.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/lib/jqueryMap/jquery.vmap.colorsFrance.js') }}" type="text/javascript"></script>
    <script src="{{ asset('public/lib/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script src="{{ asset('public/js/Home/index.js') }}" type="text/javascript"></script>
{% endblock %}
{% block header %}
    <header class="z-depth-1">
        <div class="jumbotron">
            <div class="container">
                <h1>BIENVENUE SUR VOTRE ESPACE MEMBRE FFJV</h1>
                <p>La gestion du licencié, de ses équipes, de sa structure jusqu'à sa ligne nationale.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="{{ path('login') }}" role="button">Connectez-vous</a>
                    <a class="btn btn-primary btn-lg" href="{{ path('ffjv_fo_security_register') }}" role="button">Inscrivez-vous gratuitement</a>
                </p>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="col-xs-12">
        <h4>Qu’est ce que l’espace membre ?</h4>
        <p>En tant que club ou joueur affilié à la FFJV, vous bénéficiez d’un accès exclusif à l’espace membre de la Fédération. Cet outil sera pour ses utilisateurs une vraie place d’échange, où chacun pourra avoir accès, en fonction de son statut (manager, eSporteur, ...) aux données des licences le concernant.</p>
    </div>
    <div class="col-sm-12">
        <h4>Où nous trouver ?</h4>
    </div>
    <div class="row">
        <div id="panel_map" class="col-sm-12" data-url="{{ path('ffjv_fo_home_colors') }}">
            <div class="col-sm-6">
                <div class="panel panel-primary z-depth-1" id="players">
                    <div class="panel-heading">Licenciers</div>
                    <div class="panel-body">
                        <div id="francemap_players"  data-type="players"></div>
                    </div>
                    {# ##### MODAL PLAYERS ##### #}
                    <div class="modal fade" id="modal_players" tabindex="-1" role="dialog" aria-labelledby="modal_players_label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modal_players_label">Modal Players</h4>
                                </div>
                                <div id="modal_players_content" class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-danger z-depth-1" id="clubs">
                    <div class="panel-heading">Clubs</div>
                    <div class="panel-body">
                        <div id="francemap_clubs" data-url="{{ path('ffjv_fo_home_colors') }}" data-type="clubs"></div>
                    </div>
                    {# ##### MODAL CLUBS ##### #}
                    <div class="modal fade" id="modal_clubs" tabindex="-1" role="dialog" aria-labelledby="modal_clubs_label" data-url="{{ path('ffjv_fo_home_findclubs') }}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="modal_clubs_label">Modal Clubs</h4>
                                </div>
                                <div id="modal_clubs_content" class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ##### ./MODAL CLUBS ##### #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="container">

        </div>
    </div>

{% endblock %}