{% extends('@FfjvFo/layout.html.twig') %}
{% trans_default_domain 'fo_home_index' %}
{% set adminTools = path('ffjv_fo_admin_tools', {'filename': 'fo_home_index'}) %}
{% block customCSS %}
    <link media="screen" rel="stylesheet" type="text/css" href="{{ asset('public/lib/jqueryMap/jqvmap.css') }}">
    {% stylesheets filter="scssphp" output="css/app.css"
    "public/scss/Fo/Home/index.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}
{% block customJS %}
    {% javascripts filter="?jsqueeze" output="js/app.js"
    'public/lib/jqueryMap/jquery.vmap.js'
    'public/lib/jqueryMap/jquery.vmap.france.js'
    'public/lib/jqueryMap/jquery.vmap.colorsFrance.js'
    'public/js/Home/index.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}
    <header class="z-depth-1">
        <div class="jumbotron">
            <div class="container">
                <h1>{{ "fo.home.index.title"|trans|upper }}</h1>
                <p>{{ "fo.home.index.subtitle"|trans }}</p>
                <p>{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-primary btn-lg" href="{{ path('fo_profile_show', {'userUsername': app.user.username}) }}" role="button">{{ "fo.home.index.header.btn.profile"|trans }}</a>
                        {% if app.user.clubs|length == 1 %}
                            {% set club = app.user.clubs[0] %}
                            <a class="btn btn-lg btn-danger" href="{{ path('fo_clubs_show', {'clubId': club.id} ) }}"><i class="fa fa-university"></i>{{ "fo.home.index.header.btn.club"|trans({'%club_title%': club.title}) }}  <i class="fa fa-angle-left pull-right"></i></a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-default btn-lg" href="{{ path('login') }}" role="button">{{ "fo.home.index.header.btn.login"|trans }}</a>
                        <a class="btn btn-primary btn-lg" href="{{ path('ffjv_fo_security_register') }}" role="button">{{ "fo.home.index.header.btn.registering"|trans }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h4>{{ "fo.home.index.description.title"|trans }}</h4>
            <p>{{ "fo.home.index.description.content"|trans }}</p>
        </div>
        <div class="col-sm-12">
            <h4>{{ "fo.home.index.maps.title"|trans }}</h4>
        </div>
        <div class="row">
            <div id="panel_map" class="col-sm-12" data-url="{{ path('ffjv_fo_home_colors') }}">
                <div class="col-sm-6">
                    <div class="panel panel-primary z-depth-1" id="players">
                        <div class="panel-heading">{{ "fo.home.index.maps.title.graduate"|trans }}</div>
                        <div class="panel-body">
                            <div id="francemap_players"  data-type="players"></div>
                        </div>
                        {# ##### MODAL PLAYERS ##### #}
                        <div class="modal fade" id="modal_players" tabindex="-1" role="dialog" aria-labelledby="modal_players_label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="modal_players_label">Modal Players</h4>
                                    </div>
                                    <div id="modal_players_content" class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-danger z-depth-1" id="clubs">
                        <div class="panel-heading">{{ "fo.home.index.maps.title.clubs"|trans }}</div>
                        <div class="panel-body">
                            <div id="francemap_clubs" data-url="{{ path('ffjv_fo_home_colors') }}" data-type="clubs"></div>
                        </div>
                        {# ##### MODAL CLUBS ##### #}
                        <div class="modal fade" id="modal_clubs" tabindex="-1" role="dialog" aria-labelledby="modal_clubs_label" data-url="{{ path('ffjv_fo_home_findclubs') }}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h5 class="modal-title" id="modal_clubs_label">Modal Clubs</h5>
                                    </div>
                                    <div id="modal_clubs_content" class="modal-body">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "fo.home.index.modal.btn.close"|trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# ##### ./MODAL CLUBS ##### #}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="container">
            <p class="pull-left">Copyright © 2016 <a href="http://www.ffjv.org/">FFJV</a></p>
            <p class="pull-right"><a data-toggle="modal" data-target="#footer_cgu">{{ "fo.home.index.footer.link.cgu"|trans }}</a></p>
            <div class="modal fade" id="footer_cgu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ "fo.home.index.footer.link.cgu"|trans }}</h4>
                        </div>
                        <div class="modal-body ">
                            <p>Mentions légales - Conditions Générales d&#39;utilisation</p>
                            <p>Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l&#39;Économie Numérique, nous vous informons que :</p><br />


                            <p>Le présent site web est édité par :</p>
                            <p><strong>Fédération Française de Jeu Vidéo</strong></p>
                            <p>134, Rue Nationale<br />
                                78970 MEZIERES SUR SEINE<br />
                                Adresse de courrier électronique : contact@ffjv.org<br />
                                Tél. : (+33) 01 30 95 32 61</p><br />
                            <p>Le directeur de la publication du Site est <strong>Monsieur FONTAINE</strong>, en qualité de Président de la Fédération Française de Jeu Vidéo.</p><br />
                            <p>Le responsable du Site est <strong>Monsieur PLATEL</strong>, en qualité de Responsable de la CIEL (Commission Informatique et Logiciel).</p><br />
                            <p>L&#39;utilisateur reconnaît avoir pris connaissance des présentes conditions d&#39;utilisation et s&#39;engage à les respecter. </p><br />
                            <p>L&#39;utilisateur du site internet &quot;http://espace-membre.ffjv.org/&quot; reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site.<p><br />
                            <p>L&#39;utilisateur du site internet &quot;http://espace-membre.ffjv.org/&quot; reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu&#39;elle est en parfait état de fonctionnement.</p><br />
                            <p>La FÉDÉRATION FRANÇAISE DE JEU VIDEO met tout en œuvre pour offrir aux utilisateurs des informations et/ou des outils disponibles et vérifiés mais ne saurait être tenue pour responsable des erreurs, d&#39;une absence de disponibilité des fonctionnalités et/ou de la présence de virus sur son site.</p><br />
                            <p>Les informations fournies par la FÉDÉRATION FRANÇAISE DE JEU VIDEO le sont à titre indicatif et ne sauraient dispenser l&#39;utilisateur d&#39;une analyse complémentaire et personnalisée.<p><br />
                            <p>La FÉDÉRATION FRANÇAISE DE JEU VIDEO ne saurait garantir l&#39;exactitude, la complétude, l&#39;actualité des informations diffusées sur son site.</p><br />
                            <p>La FÉDÉRATION FRANÇAISE DE JEU VIDEO respecte notamment les obligations légales de déclaration du fichier de base de données applicables dans tous les pays des destinataires de ses envois. En particulier pour les envois à destination de la France, elle a procédé à une déclaration du fichier. Vous pouvez vous désabonner à tous moment en cliquant sur le lien destiné à cette demande, dans votre interface personnel.</p><br />
                            <p>En conséquence, l&#39;utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "fo.home.index.modal.btn.close"|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}